html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.containerA {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.5vh 2.4vh 79vh 1.6vh 8.5vh;
    grid-template-areas:"cabecalho"
                        "linha1"
                        "tabela" 
                        "linha2"
                        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
}

.linha1 {
    grid-area: linha1;
    background-color: #F77D0C;
}

.tabela {
    grid-area: tabela;
    display: flex;
    align-items: center;
    text-align: center;
}

.linha2 {
    grid-area: linha2;
    background-color:#F77D0C;
}

.rodape {
    grid-area: rodape;
    background-color: #004990;
}

.imghead1 {
    margin-top: 0.3%;
    margin-bottom: 0.5%;
    margin-left: 2%;
    width: 5.5%;
    height: 7%;
    display: flex;
    float: left;
}

.orgtab {
    padding: 1% 1% 0.5% 1%;
    width: 80%;
    background-color: #014A92;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.botao {
    background-color: transparent;
    border: none;
    margin-top: 0.8%;
    margin-bottom: 0.5%;
    margin-right: 2%;
    width: 50%;
    height: 50%;
    float: right;
    text-align: right;
}

.dropdown-menu {
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #004990;
    --bs-dropdown-link-color: white;
    --bs-dropdown-link-hover-color: white;
    --bs-dropdown-link-hover-bg: #F77D0C;
    --bs-dropdown-link-active-color: #fff;
}

.opacidade {
    opacity: 65%;
    border-radius: 20px;
}

.titulo {
    color: white;
    float: left;
}

.add {
    background-color: transparent;
    border: none;
    margin-top: 0.3%;
    margin-bottom: 0.9%;
    margin-right: 0%;
    margin-left: -32%;
    width: 37%;
    height: 37%;
    float: right;
    text-align: right;
}

.download {
    background-color: transparent;
    border: none;
    margin-top: 0.3%;
    margin-bottom: 0.9%;
    margin-right: 0%;
    margin-left: -32%;
    width: 37%;
    height: 37%;
    float: right;
    text-align: right;
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 35%;
    --bs-modal-padding: 1rem;
    --bs-modal-color: black;
    --bs-modal-bg: white ;
    width: 100%;
    height: 100%;
}

.foot-er {
    padding-bottom: 5%;
    padding-top: 4%;
}
.foot-er2 {
    padding-top: 35%;
}
.head-er {
    float: right;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;
    color: black;
}

.btn-secondary {
    --bs-btn-color: #F77D0C;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #F77D0C;
    --bs-btn-hover-color: #004990;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #004990;
    margin-right: 4%;
    padding-right: 7%;
    padding-left: 7%;
}
.btn-primary {
    --bs-btn-bg: #F77D0C;
    --bs-btn-border-color: #F77D0C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #004990;
    --bs-btn-hover-border-color: #004990;
    margin-left: 4%;
    padding-right: 7%;
    padding-left: 7%;
}

.pesquisar {
    background-color: transparent;
    border: none;
    margin-top: 0.3%;
    margin-bottom: 0.9%;
    margin-right: 0%;
    width: 37%;
    height: 37%;
    float: right;
    text-align: right;
}

.form-control-1 {
    width: 60%;
    margin-right: 2%;
    float: left;
}

.form-control-2 {
    width: 17%;
    margin-right: 2%;
    float: left;
}

.form-control-3 {
    width: 98%;
    margin-right: 2%;
    float: left;
}

.form-control-4 {
    width: 47.9%;
    margin-right: 2%;
    float: left;
}

.form-control-5 {
    width: 47.9%;
    margin-right: 2%;
    float: right;
}

.size {
    font-size:x-small;
    font-weight: bold;
}
.bigsize {
    font-size: 300%;
    font-weight: bold;
}
.fs-5 {
    font-size: 1.25rem!important;
    font-weight: bold;
}

.direita {
    margin-right: 15%;
}

.esquerda {
    margin-left: 10%;
}

.direita1 {
    margin-right: 15%;
}

.esquerda1 {
    margin-left: 26%;
}

.caminhao {
    width: 15%;
    height: 15%;
}

.sair {
    background-color: transparent;
    border: transparent;
    border-color: transparent;
    color: white;
}

.bot_tab {
    background-color: transparent;
    border: transparent;
    border-color: transparent;
}

.modal-body1 {
    position: relative;
    padding: var(--bs-modal-padding);
    float: center;
    text-align: center;
}